html {
	scroll-behavior: smooth;
}

body {
	font-family: "Arial", sans-serif;
	margin: 0;
}

header {
  background: #7116f2;
	position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

nav {
	display: block;
}

nav a {
	float: right;
	margin: auto 5% auto 0;
  font-size: 1.1em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 1.2em;
	display: inline;
}

nav a:hover{
	background: yellow;
}

nav .separado {
	float: left;
}

nav img {
	opacity: 1;
	transition: 200ms all;
}

nav img:hover {
	opacity: 0.5;
}

nav .icon {
  display: none;
}

.container-progresso {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.barra-progresso {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

.abertura {
  position: relative;
}

.abertura img {
	width: 100%;
	height: auto;
	margin-top: 3%;
}

.bloco-mensagem {
  position: absolute;
  bottom: 4em;
  right: 1em;
  background: rgb(113, 22, 242);
  color: white;
  padding: 1em 1em;
  text-align: center;
  max-width: 35%;
  height: 68%;
  border-radius: 4px;
  overflow: auto;
}

h1 {
	font-size: 2.5em;
	padding: 0.8em 1em;
	font-weight: bold;
	line-height: 1.8em;
}

.bloco-mensagem p {
	font-size: 1.5em;
	padding: 0.8em 1em;
	line-height: 1.8em
}

.bloco-mensagem button {
	margin: 1em 0 0 0;
	background-color: black;
	border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}

.bloco-mensagem button:hover {
	background-color: #F2EC16;
	color: black;
	transform: scale(1.05);
}

.informacoes {
	margin: 2em 2em;
}

.informacoes h2 {
	font-size: 2.25em;
	margin: 1em 0;
	font-weight: bold;
}

.informacoes h3 {
	font-size: 1.65em;
	margin-top: 50px;
	font-weight: bold;
}

.informacoes p {
	font-size: 1.2em;
	margin: 1em 0;
}

.video {
	text-align: center;
	height: auto;
}

footer {
	text-align: center;
	background: #7116f2;
	padding: 40px 0;
	color: white;
	line-height: 2em;
}

@media screen and (max-width: 600px) {
	.bloco-mensagem {
		position: static;
		max-width: 100%;
	}

	nav a {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }

  nav.responsive {position: relative;}
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .video{
  	width: 100%;
  }
}

