body {
	font-family: "Arial", sans-serif;
}

header {
	background: #7116f2;
	padding: 1.5em 1em;
	position: fixed; 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

nav a {
	opacity: 1;
	transition: 200ms all;
}

nav a:hover {
	opacity: 0.5;
}

nav li {
	display: inline;
	margin: 1em;
}

.abertura {
  position: relative;
}

.abertura img {
	width: 100%;
	height: auto;
	margin-top: 3%;
}

.bloco-mensagem {
  position: absolute;
  bottom: 4em;
  right: 1em;
  background: rgba(113, 22, 242, 0.75);
  color: white;
  padding: 1em 1em;
  text-align: center;
  max-width: 35%;
  height: 68%;
  border-radius: 4px;
  overflow: auto;
}

h1 {
	font-size: 2.5em;
	padding: 0.8em 1em;
	font-weight: bold;
	line-height: 1.8em;
}

.bloco-mensagem p {
	font-size: 1.5em;
	padding: 0.8em 1em;
	line-height: 1.8em
}

.bloco-mensagem button {
	margin: 1em 0 0 0;
	background-color: black;
	border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}

.bloco-mensagem button:hover {
	background-color: #F2EC16;
	color: black;
	transform: scale(1.05);
}

.informacoes {
	margin: 2em 2em;
}

.informacoes h2 {
	font-size: 2.25em;
	margin: 1em 0;
	font-weight: bold;
}

.informacoes h3 {
	font-size: 1.65em;
	margin-top: 50px;
	font-weight: bold;
}

.informacoes p {
	font-size: 1.2em;
	margin: 1em 0;
}

.video {
	text-align: center;
	max-height: 60%;
	height: auto;
}

footer {
	text-align: center;
	background: #7116f2;
	padding: 40px 0;
	color: white;
	line-height: 2em;
}