html {
	scroll-behavior: smooth;
	scroll-padding-top: 5em;
}

body {
	font-family: 'Poppins', sans-serif;	
	margin: 0;
	scroll-padding-top: 3rem;
}

header {
	position: sticky; 
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.logo:hover {
	opacity: 0.75;
}
/*
.menusuperior {
	display: block;
}

.menusuperior a {
	float: right;
  font-size: 1.1em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 1.2em;
	display: inline;
}


.menusuperior a:hover{
	background: #F2EC16;
	color: black;
}

.menusuperior .separado {
	float: left;
	font-size: 0.75em
}

.menusuperior img {
	opacity: 1;
	transition: 200ms all;
}

.menusuperior img:hover {
	opacity: 0.5;
}

.menusuperior .icon {
  display: none;
}*/

.barra-progresso {
	position: absolute;
	top: 3.85em;
  height: 8px;
  background: #F2EC16;
  width: 0%;
	z-index: 100;
}

.abertura {
  position: relative;
}

.abertura img {
	width: 100%;
	border-bottom: 5px solid #7116f2;
}

.abertura .bloco-mensagem img {
	height: 1em;
	border-bottom: none;
}

.bloco-mensagem {
  position: absolute;
  bottom:0.49em;
  right: 0;
  background: rgba(113, 22, 242,0.75);
  color: white;
  padding: 1.1em 1.1em;
  text-align: center;
  max-width: 45%;
  height: 100%;
  border-radius: 4px;
  overflow: auto;
  display: flex;
  flex-direction: column;
	justify-content: center;
}

h1 {
	font-size: 2.5em;
	padding: 0.5em 0.5em;
	font-weight: bold;
	line-height: 1.8em;
}

.bloco-mensagem strong {
	text-transform: uppercase;
	color: gold;
	font-size: 1.15em;
}

.bloco-mensagem p {
	font-size: 1.5em;
	padding: 0.5em 0.5em;
	line-height: 1.8em
}

.bloco-mensagem button, .contato-box button {
	margin: 0.5em 0 0 0;
	background-color: black;
	border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
	font-family: Poppins;
}

.bloco-mensagem button:hover, .contate-nos button:hover {
	background-color: #F2EC16;
	color: black;
	transform: scale(1.03);
}

.informacoes {
	margin: 2em 2em;
}

.informacoes h2 {
	font-size: 2.25em;
	margin: 1em 0;
	font-weight: bold;
	clear: left;
}

.informacoes h3 {
	font-size: 1.65em;
	margin: 1em 0;
	font-weight: bold;
}

.informacoes p {
	font-size: 1.2em;
	margin: 1.2em 0;
	text-align: justify;
	line-height: 1.2em;
}

.informacoes a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: rgb(113, 22, 242);
}

.informacoes a:hover{
	color: gold;
}

.video-razor {
	display: block;
  margin: auto;
  width: 60%;
  height: auto;
	border: 2px solid #f2ec16;
}

.imagem-squad {
	display: block;
  margin: 2em auto;
  width: 60%;
  height: auto;
	border: 4px solid #F2EC16;
	border-radius: 3px;
}

.contato-box img {
	width: 40%;
	float: left;
	margin: 0 2em 2em 0;
	border: 2px solid #f2ec16;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

footer {
	text-align: center;
	background: #7116f2;
	padding: 40px 0;
	color: white;
	line-height: 2em;
}

@media screen and (max-width: 768px) {
	.bloco-mensagem {
		position: static;
		max-width: 100%;
	}

	/*.menusuperior a {float: none; display: none;}
  .menusuperior a.icon {
    float: right;
    display: block;
  }

  .menusuperior.responsive {position: relative;}
  .menusuperior.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menusuperior.responsive a {
    float: none;
    display: block;
    text-align: left;
  }*/

  .video-razor, .imagem-squad {
  	width: 100%;
	}
	.barra-progresso {
		  top: 2.8em;
		  height: 6px;
	}

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }
  
  .navbar {
	font-size: 1.2em;
	background: rgb(113, 22, 242);
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
  }
  
  .main-nav {
	list-style-type: none;
	display: none;
  }
  
  .nav-links,
  .logo {
	text-decoration: none;
	color: rgba(255, 255, 255);
		text-transform: uppercase;
		font-weight: bold
  }
  
  .main-nav li {
	margin-top: 0.6em;
	text-align: left;
	padding: 1.3em 1em;
		transition: 0.5s all;
}

.main-nav li:hover {
	background-color: #F2EC16;
	color: black;
}
  
  .logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
		opacity: 100%;
		transition: 1s all;
  }

.logo:hover {
	opacity: 70%;
}
  
  .navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 1);
	font-size: 24px;
  }
  
  #chkToggle {
	display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
	display: block;
  }
  
  @media screen and (min-width: 768px) {
	.navbar {
	  display: flex;
	  justify-content: space-between;
	  padding-bottom: 0;
	  height: 70px;
	  align-items: center;
	}
  
	#chkToggle:checked + ul.main-nav {
	  display: flex;
	}
  
	.main-nav {
	  display: flex;
	  margin-right: 30px;
	  flex-direction: row;
	  justify-content: flex-end;
	}
  
	.main-nav li {
	  margin: 0;
	}
  
	.nav-links {
	  margin-left: 40px;
	}
  
	.logo {
	  margin-top: 0;
	}
  
	.navbar-toggle {
	  display: none;
	}
  
	.logo:hover, {
    opacity: 75%;
	}
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 